<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | addUser </title>
    <link rel="stylesheet" href="/css/Admin/adduser.css" type="text/css">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    
    <!-- <link rel="stylesheet" href="/css/Signup/page1.css" type="text/css"> -->
</head>
<body>
    <div class="background">
        <div class="backgroundImgFirst"></div>
    <div class="floatBox">
        <div class="logo">
            <span class="icon"></span>
            <!-- <span class="smilepay">SMILE PAY</span> -->
          </div>
    <form class="flexbox d-flex flex-column block-example">
        <div class="form-row">
            <div class="col-sm-6 my-1">
                <label for="exampleInputFirst1"></label>
                <input type="Number" class="form-control" placeholder="Customer Id"></input>
            </div>
            <div class="col-sm-6 my-1">
                <label for="exampleInputLast1"></label>
                <input required type="Number" class="form-control" placeholder="Account Number"></input>
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-6 my-1">
                <label for="exampleInputUser1"></label>
                <input type="text" class="form-control" placeholder="Name"></input>
            </div>
            <div class="col-sm-6 my-1">
                <label for="exampleInputAccountno"></label>
                <input required type="text" class="form-control" placeholder="Gender"></input>
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-6 my-1">
                <label for="exampleInputpassword1"></label>
                <input required type="text" class="form-control" placeholder="dd-mm-yyyy"></input>
            </div>
            <div class="col-sm-6 my-1">
                <label for="exampleInputconfirmPassword1"></label>
                <input required type="Number" class="form-control" placeholder="Mobile Number"></input>
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-6 my-1">
                <label for="exampleInputemail1"></label>
                <input required type="Number" class="form-control"style={Style.ebox} placeholder="Aadhar"></input>
            </div>
            <div class="col-sm-6 my-1">
                <label for="exampleInputconfirmPassword1"></label>
                <input required type="Number" class="form-control" placeholder="PAN"></input>
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-6 my-1">
                <label for="exampleInputemail1"></label>
                <input required type="Number" class="form-control"style={Style.ebox} placeholder="Balance"></input>
            </div>
        </div>
        <div class="mx-sm-3 mb-2">
            <input class="form-check-input" type="checkbox"></input>
            <label required class="form-check-label" for="defaultCheck1">
            I agree to the T&C
            </label>
        </div>
        <button type="button" class="btn btn-primary btn-sm m-2">SIGNUP</button>
    </form>
</div>
<div class="backgroundImgSecond"></div>
    </div>
</body>
</html>