@import url("./../Global/global.css");
.floatBox {
  position: absolute;
  z-index: 1;
  background: linear-gradient(
    to bottom right,
    rgb(21, 36, 248),
    rgb(11, 145, 255),
    rgb(0, 195, 255)
  );
  top: 7vh;
  left: 14vw;
  height: 85vh;
  width: 70%;
  border-radius: 5vh;
  box-shadow: 1vh 1vw 2vh #203a4e;
}
.flexbox {
  position: absolute;
  left: 15%;
  width: 70%;
  top: 20%;
}
.flexbox input {
  background-color: #0a0a0a;
}
.flexbox input::placeholder::after {
  color: white !important;
}
.flexbox input::placeholder::before {
  color: white !important;
}

.icon {
  position: absolute;
  left: 35%;
  top: -2%;
  width: 30%;
  height: 30%;
  background-image: url(/css/images/Main/logo1.png);
  background-size: 100% 100%;
}

.alert {
  position: absolute;
  top: -5vh;
  left: -1.5vw;
  width: 105%;
  background-color: rgb(253, 2, 2);
  font-size: 20px;
  padding: 2vh;
  color: #ffffff;
}
label {
  color: #ffffff;
}
.backAdd {
  position: relative;
  left: 15%;
}
.signupAdd {
  position: relative;
  left: 60%;
}
