@import url("./../Global/global.css");
.floatbox {
  background: linear-gradient(
    to bottom right,
    rgb(21, 36, 248),
    rgb(11, 145, 255),
    rgb(0, 195, 255)
  );
  height: 85vh;
  width: 35%;
  position: "absolute";
  border-radius: 5vh;
  box-shadow: 1vh 1vw 2vh #203a4e;
  z-index: 1;
  top: 15vh;
  left: 5%;
  position: absolute;
  justify-content: center;
  align-items: center;
}
.background a {
  /* background-color: rgb(221, 25, 25); */
  text-decoration: none !important;
  color: rgb(233, 243, 252) !important;
  font-size: 35 px;
  font-weight: 450;
  position: relative;
  top: 48%;
  left: 23%;
  width: 50%;
  padding-left: 11.5%;
}
/* .logo {
  position: absolute;
  top: 2%;
  left: 8%;
  width: 50%;
  height: 70%;
} */
.icon {
  position: absolute;
  left: 13%;
  width: 70%;
  height: 60%;
  top: -10%;
  background-image: url(/css/images/Main/logo1.png);
  background-size: 100% 100%;
}
.smilepay {
  position: absolute;
  top: 30%;
  left: 38%;
  /* width: 50%; */
  font-size: 140%;
  color: white;
}
