@import url("./../Global/global.css");

body {
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgb(5, 140, 250);
}
.updateUserHeading {
  text-align: center;
  font-size: 220%;
  color: #000;
  margin-top: 2%;
}
table {
  position: absolute;
  top: 10%;
  left: 8%;
  margin-top: 3%;
}
a {
  position: absolute;
  left: 5%;
  top: 5%;
}
.confirmation {
  position: absolute;
  color: aliceblue;
  top: 20%;
  left: 8%;
  font-size: x-large;
}
.yesbtn {
  position: relative;
  top: 10%;
  left: 12%;
  margin: 2%;
}
.nobtn {
  position: relative;
  top: 10%;
  left: 45%;
  margin: 2%;
}
.close {
  color: rgb(255, 255, 255);
  position: absolute;
  right: 4%;
  top: 3%;
  text-decoration: none;
  font-size: 200%;
}
.alert {
  position: absolute;
  left: 13%;
  top: 4%;
  width: 75%;
}
.deletebox {
  border-radius: 20px;
  border: 2px solid rgb(5, 5, 5);
  position: fixed;
  top: 30%;
  background-color: rgba(44, 35, 35, 0.952);
  height: 40%;
  width: 30%;
  left: 35%;
  z-index: 1;
  padding-top: 8%;
}
.refresh {
  position: absolute;
  left: 90%;
  top: 5%;
}
.glyphicon {
  color: aliceblue;
  left: 43%;
}
/* .feedback {
  top: 80%;
} */

/* input {
  position: relative;
  top: 60%;
} */
