@import url("./../Global/global.css");

body {
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgb(5, 140, 250);
}
.updateUserHeading {
  text-align: center;
  font-size: 220%;
  color: #000;
  margin-top: 2%;
}
table {
  position: absolute;
  top: 10%;
  left: 8%;
  margin-top: 3%;
}
a {
  position: absolute;
  left: 90%;
  top: 5%;
}
.deletebox {
  position: absolute;
  background-color: rgba(44, 35, 35, 0.952);

  height: 26%;
  width: 30%;
  top: 40%;
  left: 35%;
  z-index: 1;
}
.confirmation {
  position: absolute;
  color: aliceblue;
  top: 15%;
  left: 8%;
  font-size: x-large;
}
.yesbtn {
  position: relative;
  top: 60%;
  left: 15%;
  margin: 2%;
}
.nobtn {
  position: relative;
  top: 60%;
  left: 50%;
  margin: 2%;
}
.close {
  color: rgb(255, 255, 255);
  position: relative;
  right: 1%;
  top: 4%;
}
.alert {
  position: absolute;
  left: 13%;
  top: 4%;
  width: 75%;
}
