<div>
  <p>Your OTP for SmilePay Email verification is:</p>
  <p>OTP:<span>${OTP}</span></p>
  <p>Please verify your email to continue</p>
  <p>Do not share this OTP with anyone</p>
  <p>Thank you for visiting to SmilePay!</p>
  <pre>
      span{
          font-weight:2%;
      }
  </pre>
</div>
